<article class="c-icon-link">
    <a class="c-icon-link__content" href="{{ icon.link }}">
        <div class="c-icon-link__image c-icon-link__image--rev">
            <img src="{{ icon.image }}" alt="" width="70" class="u-inlinesvg">
        </div>
        <div class="c-icon-link__text">
            <p>{{ icon.text }}</p>
        </div>
    </a>
</article>