<article class="c-card-teaser">
    <a href="{{ tile.link }}" class="c-card-teaser__content">
        <div class="c-card-teaser__image" style="background-image: url({{ tile.image.src }});">
            <div class="c-card-teaser__text">
                <h2 class="c-card-teaser__title">{{ tile.heading }}</h2>
                <span class="c-card-teaser__more">Find out more</span>
            </div>
        </div>
    </a>
</article>