// @font-face {
//     font-family: 'MyFont';
//     src:  url('../Dewnrger45Light.woff2') format('woff2'),
//             url('../Dewnrger45Light.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
// }

$body-color: red;

body {
  // color: $body-color;
  // font-family: 'MyFont';
  // background-color: cornflowerblue;
  // background: url('../background.png');
  // background-size: cover;
  &:after {
    content: "from main.scss";
    color: $body-color;
  }
}

// .hello {
//     font-family: 'MyFont';
//     color: green;
//     // background: url('./icon.png');
// }
