/*------------------------------------*\
    #BOOKEASY BOOKINGTYPES
\*------------------------------------*/

// scss-lint:disable all
.booking-types_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .booking-type {
        width: calc(100% / 3 - 20px);
        // height: 240px;
        background: $sagovau-color-brand;
        margin: 10px;
        // flex-basis: 33%;
        padding: 14px;
        box-sizing: border-box;
        border: none;
        font-family: inherit;
        font-size: inherit;

        &:hover {
            background: tint($sagovau-color-brand, 10%);
        }

    }
    .booking-type__text {
        color: $sagovau-color-text-reverse;
        // font-weight: 500;
    }
}